@model Modelo.Cadastros.Produto

@{
	ViewData["Title"] = "Detalhes do Produto";
	Layout = "~/Views/Shared/_LayoutIES.cshtml";
}



<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 centro">
				<div class="card">
					<hr />
					<div class="header">
						<h4 class="title">@ViewData["Title"]</h4>
					</div>
					@{await Html.RenderPartialAsync("~/Areas/Cadastros/Views/Produto/_PartialDetailsContent.cshtml", Model); }
				</div>
			</div>
		</div>
	</div>
</div>
