
b {
	color: black;
}

tr:hover {
	background-color: #00bc8c;
	color: #111;
}

th {
	text-align: center;
}
.btn-danger:hover {
	background-color: #FF4A55;
	color: #fff;
	border-color: ##EE2D20;
}
.btn-warning:hover {
	background-color: #ED8D00;
	color: #fff;
	border-color: #FF9500;
}

.btn-info:hover {
	color: #fff;
	background-color: #31b0d5;
	border-color: #46b8da
}
.btn-default:hover {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
	border-width: 1px;
}	

.btn{
	
  background-color: #111;
}

.un-table {
	border-collapse: collapse;
	border-spacing: 0;
}

thead th {
	text-align: center;
	padding:2px;
	background: #808080;
}

tr {
	padding: 10px;
	background: ##888888;
}

td, th {
	padding:5px;
	color: #fff;
}

.card .table tbody td:last-child, .card .table thead th:last-child {
	 padding-right: 0px;
}

.card .table tbody td:first-child, .card .table thead th:first-child {
	padding-left: 0px;
}
