@model CrudAspNetMVC.Models.Produto

@{
	ViewData["Title"] = "Detalhes do Produto";
	Layout = "~/Views/Shared/_LayoutIES.cshtml";
}



<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 centro">
				<div class="card">
					<hr />
					<div class="header">
						<h4 class="title">@ViewData["Title"]</h4>
					</div>
					<div class="content">
						<div class="row">
							<div class="form-group col-md-12">
								<label asp-for="ProdutoId" class="control-label hidden"></label>
								<br />
								<div class="input-group col-md-12">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="fa fa-key title" aria-hidden="true"></i>
										</span>
									</div>
									<input asp-for="ProdutoId" class="form-control" disabled="disabled" />
								</div>
								<label asp-for="ProdutoNome" class="control-label hidden"></label>
								<br />
								<div class="input-group col-md-12">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="fa fa-user-circle title" aria-hidden="true"></i>
										</span>
									</div>
									<input asp-for="ProdutoNome" class="form-control" disabled="disabled" />
								</div>
								<label asp-for="ProdutoDescricao" class="control-label hidden"></label>
								<br />
								<div class="input-group col-md-12">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="fa fa-edit title" aria-hidden="true"></i>
										</span>
									</div>
									<input asp-for="ProdutoDescricao" class="form-control" disabled="disabled" />
								</div>
								<label asp-for="Categoria.CatNome" class="control-label  hidden"></label>
								<br />
								<div class="input-group col-md-12">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="fa fa-list-alt title" aria-hidden="true"></i>
										</span>
									</div>
									<input asp-for="Categoria.CatNome" class="form-control" disabled="disabled" />
								</div>
							</div>
							<div class="form-group text-left h3 col-lg-12">
								<form>
									<input type="hidden" asp-for="ProdutoId" />
									<a asp-action="Edit" class="btn btn-warning btn-fill col-lg-6" asp-route-id="@Model.ProdutoId">Editar</a>
									<a asp-action="Index" class="btn btn-info btn-fill pull-right col-lg-6">Voltar</a>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
