@model Modelo.Cadastros.Categoria


<div class="content">
	<div class="row">
		<div class="form-group col-md-12">
			<label asp-for="CategoriaId" class="control-label hidden"></label>
			<br />
			<div class="input-group col-md-12">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-key title" aria-hidden="true"></i>
					</span>
				</div>
				<input asp-for="CategoriaId" class="form-control" disabled="disabled" />
			</div>
			<label asp-for="CatNome" class="control-label hidden"></label>
			<br />
			<div class="input-group col-md-12">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-list-alt title" aria-hidden="true"></i>
					</span>
				</div>
				<input asp-for="CatNome" class="form-control" disabled="disabled" />
			</div>
			<div class="form-group text-left h3">
				<form>
					<a asp-action="Index" class="btn btn-info btn-fill btn-block">Retornar</a>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="col-4">
	@{await Html.RenderPartialAsync("~/Areas/Cadastros/Views/Categoria/_ComProdutos.cshtml", Model.Produtos.ToList()); }
</div>
